<main class="bg-white max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl">
  <section>
    <h3 class="font-bold text-2xl">アカウント作成</h3>
  </section>

  <%= render "users/shared/error_messages", resource: resource %>

  <section class="mt-10">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }, class: "flex flex-col") do |f| %>
      <div class="mb-6 pt-3 rounded bg-gray-200">
        <%= f.label :email, class: "block text-gray-700 text-sm font-bold mb-2 ml-3" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 pb-3" %>
      </div>
      <div class="mb-6 pt-3 rounded bg-gray-200">
        <%= f.label :password, class: "block text-gray-700 text-sm font-bold mb-2 ml-3" %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "current-password", class: "bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 pb-3" %>
      </div>
      <div class="mb-6 pt-3 rounded bg-gray-200">
        <%= f.label :password_confirmation, class: "block text-gray-700 text-sm font-bold mb-2 ml-3" %>
        <%= f.password_field :password_confirmation, autocomplete: "current-password", class: "bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 pb-3" %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
      <%= render "users/shared/links" %>
      <%= f.submit t('.sign_up'), class: "bg-purple-600 hover:bg-purple-700 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200" %>
    <% end %>
  </section>
</main>
